.login-container{
    display: flex;

    .block-container{
        width: fit-content;
        margin: 100px auto;
        
        .login-desc{
            color: #3E7C17;
            font-size: 24px;
            font-family: NotoSansKRBold;
        }
        
        .login-sub-desc{
            color: #9CC094;
            font-size: 12px;
            margin-bottom: 30px;
            font-family: NotoSansKRBold;
        }
        
        .id-password-desc{
            font-size: 15px;
            font-family: NotoSansKRRegular;
        }

        input{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #7F7C82;
            margin: 10px 0px 20px;
            width: 250px;
        }
        
        .login-find-button{
            margin-top: 30px;
            display: flex;
            justify-content: flex-end;
            font-family: NotoSansKRBold;
        }
        
        .login-button{
            display: flex;
            justify-content: center;
            
            .button-container{
                margin-top: 40px;
                background-color: #9CC094;
                border-radius: 40px;
                width: 220px;
                height: 60px;
                font-family: NotoSansKRBold;
            }
        }
    }

}