.navbar-container{
    box-sizing: content-box;
    height: fit-content;
    margin: 100px 100px 100px 100px;
    font-size: xxx-large;
    color: rgb(83, 88, 86);

    .mypage-menu{
        display: flex;
        padding: 0px 0px 0px 30px;
        border-bottom: 2px solid #9DF3C4;
       
        .button-container{
            margin-right: 50px;
        }
    }
}