.cart-list-component{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    height: 120px;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 30px;
    p{
        margin-right: 100px;
    }

}