.mypage-userinfo-list{
    padding: 0px 0px 50px 0;
    .nickname{
        padding: 0px 0px 50px 0;
        word-spacing: 110px;
    }
    .id{
        padding: 0px 0px 20px 0;
        word-spacing: 30px;
    }
}