.My-Inbody-info{
    display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;

	margin-top: 30px;
	margin-bottom: 50px;
    font-size: xxx-large;
    color: rgb(83, 88, 86);

    .Inbody-title{
		width: 1200px;
		.p{
			text-align: left;
		}
        display: flex;
        padding: 15px 0px 0px 30px;
        border-bottom: 2px solid #9DF3C4;
        flex-direction: column;

        .Inbody-subtitle{
            font-size: x-large;
            padding: 0px 0px 10px 30px;
        }
        .health-insert{
            font-size: x-large;
            padding: 30px 0px 10px 0px;
        }
    }
    .Inbody-update{
		width: 1160px;
        padding: 20px 20px 0px 20px;
        font-size: xx-large;
        .health-insert-update{
			height: 580px;
			padding-top: 50px;
			display: flex;
			flex-direction: column;
			align-content: center;
			align-items: center;
            font-size: xx-large;
            outline: groove;
            
            .info_birth, .info_gender, .info_height, .info_weight, .info_muscle, .info_fat{
				margin-bottom: 30px;
                display: flex;
                flex-direction: row;
				.info_subtitle{
					width: 220px;
				}
                .birth-data, .gender-data, .height-data, .weight-data, .muscle-data, .fat-data{
                    font-size: large;
                    width:200px;
                }
            }
        
            .health-save-button{
                display: flex;
                font-size: x-large;
                flex-direction: column;
            }
        }
    }
} 