.modal-container {
    position: fixed;
    z-index: -2;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    opacity: 0;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(5px);
  
    .items {
      position: fixed;
      display: flex;
      background-color: #fff;
      flex-direction: column;
      transform: translate(-50%, -600%);
      justify-content: space-between;
      align-items: center;
      top:50%;
      left: 50%;
      min-width: 400px;
      min-height: 300px;
      max-height: 400px;
      transition: 0.5s ease-in-out;
      border-radius: 10px;
  
      p {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  
    .modal-children{
      width: 100%;
      overflow-y: auto;
      max-height: 350px;
      margin-bottom: 16px;
      &::-webkit-scrollbar {
        width: 4px;
        background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ddd;
        width: 10px;
        border-radius: 20px;
      }
    }
  
    .modal-buttons {
      .button-container {
        margin: 0 10px;
        padding: 8px 10px;
        transition: 0.2s ease;
      }
    }
    &.open {
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
      z-index: 99999;
  
      .items{
        animation: inertia-down 0.5s forwards;
      }
    }
    &.close {
      background-color: transparent;
      z-index: -2;
  
      .items{
        animation: inertia-up 0.5s forwards;
     }
    }
  }

@keyframes inertia-down {
    60% {
      transform: translate(-50%, -40%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
}
  
@keyframes inertia-up {
    0%{
      transform: translate(-50%, -50%);
    }
    20% {
      transform: translate(-50%, -40%);
    }
    100% {
      transform: translate(-50%, -600%);
    }
}