.mypage-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;

	margin-top: 30px;
	margin-bottom: 50px;
    font-size: xxx-large;
    color: rgb(83, 88, 86);

	.mypage-title{
		width: 1200px;
		.p{
			text-align: left;
		}
	}
    .mypage-menu{
        display: flex;
		width: 1200px;
        padding: 15px 0px 0px 30px;
        border-bottom: 2px solid #9DF3C4;

        .button-container{
            margin-right: 50px;
        }
    }
    .mypage-component{
		width: 1160px;
        padding: 20px 20px 0px 20px;
        font-size: xx-large;

        .mypage-info{
			width: 100%;
			height: 400px;
			padding-top: 90px;
            outline: groove;
            font-size: x-large;
            
            .mypage-userinfo{
				display: flex;
				flex-direction: column;
				align-items: center;
				align-content: center;
				
                .name_info, .id_info{
                    display: flex;
                    flex-direction: row;
                    padding: 0px 0px 50px 0;
					.name, .id{
						width: 200px;
					}
                    .name_text, .id_text{
                        width: 400px;
						.user_info_text{
							width: 400px;
							overflow: hidden;
							text-overflow: ellipsis;
						}
                    }
                }
                .update-button{
					//width: 100px;
                }
            }
        }
    }
} 