.My-Inbody-info{
    display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;

	margin-top: 30px;
	margin-bottom: 50px;
    font-size: xxx-large;
    color: rgb(83, 88, 86);

    .Inbody-title{
        width: 1200px;
		.p{
			text-align: left;
		}
        display: flex;
        padding: 15px 0px 0px 30px;
        border-bottom: 2px solid #9DF3C4;
        flex-direction: column;

        .Inbody-subtitle{
            font-size: x-large;
            padding: 0px 0px 10px 30px;
        }
    }
    .health-condition{
        width: 1160px;
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
        font-size: xx-large;

        .health-chart{
            width: 1160px;
        }
    }
    .need-health{
        font-size: xx-large;
        margin-top: 30px;

        .need-health-point{
            color: red;
        }
    }
    .health-update-button{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: x-large;
    }

} 