.update-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;

	margin-top: 30px;
	margin-bottom: 50px;
    font-size: xxx-large;
    color: rgb(83, 88, 86);
	.mypage-title{
		width: 1200px;
		.p{
			text-align: left;
		}
	}
    .mypage-menu{
        display: flex;
		width: 1200px;
        padding: 15px 0px 0px 30px;
        border-bottom: 2px solid #9DF3C4;

        .button-container{
            margin-right: 50px;
        }
    }
    .mypage-update-component{
        padding: 20px 250px 0px 180px;
        font-size: xx-large;


        .mypage-userinfo{
            padding: 90px 150px 75px 250px;
            outline: groove;
            font-size: x-large;
                .name_info{
                    padding: 0px 0px 30px 0px;
                    .name{
                        padding: 0px 0px 0px 0px;
                        display: flex;
                        flex-direction: row;
    
                        .new-name{
                            font-size: medium;
                            width:300px;
                            margin: 0px 30px 0px 100px;
                        }
                        .button-container{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #9CC094;
                            border-radius: 40px;
                            width: 60px;
                            height: 22px;
                            font-family: NotoSansKRRegular;
                        }
                    }
                }
                .id_info{
                    padding: 0px 0px 30px 0px;
                    .id{
                        padding: 0px 0px 0px 0px;
                        display: flex;
                        flex-direction: row;
                    }
                    .id_text{
                        padding: 0px 0px 0px 15px;
                    }
                }
                .password_info{
                    padding: 0px 0px 30px 0px;
                    .password{
                        padding: 0px 0px 0px 0px;
                        display: flex;
                        flex-direction: row;
    
                        .new-password{
                            font-size: medium;
                            width:300px;
                            margin: 0px 0px 0px 80px;
                        }
                    }
                }
                .confirmpassword_info{
                    padding: 0px 0px 30px 0px;
                    .confirmpassword{
                        padding: 0px 0px 0px 0px;
                        display: flex;
                        flex-direction: row;
    
                        .new-confirmpassword{
                            font-size: medium;
                            width:300px;
                            margin: 0px 0px 0px 30px;
                        }
                    }
                }
                .error{
                    font-size: small;
                    color: red;
                    padding: 0px 0px 0px 173px;
                }
            
        }
        .update-save-button{
            display: flex;
            padding: 0px 330px 0px 230px;
            flex-direction: column;
        }

    }
} 