.signup-container{
    display: flex;

    .block-container{
        width: fit-content;
        margin: 100px auto;
        
        .signup-desc{
            color: #3E7C17;
            font-size: 24px;
            font-family: NotoSansKRBold;
        }

        .signup-id-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .button-container{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9CC094;
                border-radius: 40px;
                width: 60px;
                height: 22px;
            }
        }
        
        .signup-sub-desc{
            color: #9CC094;
            font-size: 12px;
            margin-bottom: 30px;
            font-family: NotoSansKRBold;
        }

        .signup-nickname-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .button-container{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9CC094;
                border-radius: 40px;
                width: 60px;
                height: 22px;
            }

        }

        .id-password-desc{
            font-size: 15px;
            font-family: NotoSansKRRegular;
        }

        input{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #7F7C82;
            margin: 10px 0px 20px;
            width: 250px;
        }
        
        .signup-find-button{
            margin-top: 30px;
            display: flex;
            justify-content: flex-end;
            font-family: NotoSansKRBold;
        }
        
        .signup-button{
            display: flex;
            justify-content: center;
            
            .button-container{
                margin-top: 40px;
                background-color: #9CC094;
                border-radius: 40px;
                width: 220px;
                height: 60px;
                font-family: NotoSansKRBold;
            }
        }
    }

}