.My-Inbody-info{
    margin: 50px 200px 100px 200px;
    font-size: xxx-large;
    color: rgb(63, 65, 64);

    .Inbody-title{
        display: flex;
        padding: 15px 0px 0px 30px;
        border-bottom: 2px solid #9DF3C4;
        flex-direction: column;

        .Inbody-subtitle{
            font-size: x-large;
            padding: 0px 0px 10px 30px;
        }
        .health-insert{
            font-size: x-large;
            padding: 30px 0px 10px 0px;
        }
    }
    .Inbody-update{
        padding: 20px 250px 0px 250px;
        font-size: xx-large;
        .health-insert-update{
            padding: 75px 0px 0px 250px;
            font-size: xx-large;
            outline: groove;
            
            .info_birth{
                padding: 20px 10px 0px 60px;
                display: flex;
                flex-direction: row;
        
                .birth-data{
                    font-size: large;
                    width:200px;
                    margin: 0px 0px 0px 80px;
                }
            }
            .info_gender{
                padding: 20px 10px 0px 60px;
                display: flex;
                flex-direction: row;
        
                .gender-data{
                    font-size: large;
                    width:200px;
                    margin: 0px 0px 0px 140px;
                }
            }
            .info_height{
                padding: 20px 10px 0px 60px;
                display: flex;
                flex-direction: row;
        
                .height-data{
                    font-size: large;
                    width:200px;
                    margin: 0px 0px 0px 100px;
                }
            }
            .info_weight{
                padding: 20px 10px 0px 60px;
                display: flex;
                flex-direction: row;
        
                .weight-data{
                    font-size: large;
                    width:200px;
                    margin: 0px 0px 0px 80px;
                }
            }
            .info_muscle{
                padding: 20px 0px 0px 60px;
                display: flex;
                flex-direction: row;
        
                .muscle-data{
                    font-size: large;
                    width:200px;
                    margin: 0px 0px 0px 20px;
                }
            }
            .info_fat{
                padding: 20px 10px 0px 60px;
                display: flex;
                flex-direction: row;
        
                .fat-data{
                    font-size: large;
                    width:200px;
                    margin: 0px 0px 0px 30px;
                }
            }
        
            .health-save-button{
                display: flex;
                padding: 100px 250px 75px 0px;
                font-size: x-large;
                flex-direction: column;
            }
        }
    }
} 